NEXT_PUBLIC_SUPABASE_URL="https://ajvrmigkyiimucnlelel.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqdnJtaWdreWlpbXVjbmxlbGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NTMyMzYsImV4cCI6MjA5MzUyOTIzNn0.hE98rkH5v9jWuOM2oh7kPRO4wSr2RQTzasclwbrDjxk"